.wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .wrapper div{
    border: 2px solid black;
    background-color: yellowgreen;
  }